.App-header .custom-tooltip {
  width: max-content; /* Adjust the width as needed */
  padding: 10px;    /* Adjust the padding as needed */
  font-size: 15px;  /* Adjust the font size as needed */
  background-color: rgb(0, 0, 0);
}



.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



.App-header {
  background-color: #c7d0e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.link-text, .link-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.link-button {
  background-color: #4f90a2;
  border: none;
  color: white;
  cursor: pointer;
}

.link-button:hover, .link-text:hover {
  color: #000000;
}


/*.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 15px;
  background-color: #48a5bf;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
